.idea
.vscode
__snapshots__
build
coverage

.nvmrc
.deployment
.DS_Store
.env
.gitignore
.prettierignore
.dccache
package-lock.json
web.config
.eslintcache
README.md
.npmrc

*.ico
*.gif
*.jpg
*.png
*.svg
*.txt
*tscx

*.config.js